#!/bin/sh
#
# define my aliases



alias cp='cp -vr'
alias dir='ls -AlG'
alias grep='grep -rIl --color=always --exclude="*\.git" --exclude-dir=node_modules'
alias hm='cd ~;clear'
alias mv='mv -v'
alias prep='perl -pi -w -e'
alias rsync='rsync -vazciL --size-only --exclude "_build/***" --exclude "deps/***" --exclude "dist/***" --exclude "node_modules/***"'
alias rmsln='find -L . -type l -exec rm {} +'
alias ssh='ssh -C'
alias tbz='tar -xjvf'
alias tgz='tar -xzvf'
alias updatedb="sudo /usr/libexec/locate.updatedb"
alias teg='cd ~/Projects;ls -AlG'
alias lc='wc -l'
alias gi='cp ~/bin/.gitignore ./.gitignore'
alias getit='wget -r -w 10 --random-wait -c -nc -R jpg,gif,png,pdf,m4a,mpg,svg,woff,eot,ttf'

# show and hide files in Finder
#alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
#alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
