#!/bin/sh
#
# define my aliases

alias cp='cp -vr'
alias dir='ls -AlGF'
alias grep='grep -rIl --color=always --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,node_modules}'
alias hm='cd ~;clear'
alias mv='mv -v'
alias rsync='rsync -vazciL --size-only --exclude "_build/***" --exclude "deps/***" --exclude "dist/***" --exclude "node_modules/***"'
alias rmsln='find -L . -type l -exec rm {} +'
alias ssh='ssh -C'
alias lc='wc -l'
alias gi='cp ~/bin/.gitignore ./.gitignore; git init'
