#!/bin/sh
#
# define my functions

hlg() {
	if [ $# -eq 0 ]; then
		heroku logs -t -n 40 --app `gitRemote`

	else
		heroku logs -t -n 40 -s $1 --app `gitRemote`
	fi
}

gitRemote() {
	herokuRemote=`git config heroku.remote`

	if [[ $herokuRemote == *stag* ]]; then
		gitRemote="clo-hubspot-stag"

	else
		gitRemote="clo-hubspot"
	fi

	echo $gitRemote
}
